.idea
.external/
__pycache__/
**/__pycache__/
.pytest_cache/
*.py[cod]
allure-report
allure-results
demo/
mycobot_320_123
**/log.log*
**/python_debug.log*
**/python_debug_*.log
**/test_report/
**/build/
**/dist/
**/*.egg-info/
